<!-- we did all this for passing the value from child to parent component
  <h1 *ngIf="dataFromChild">
  {{dataFromChild?.name + ' ' + dataFromChild?.gender}}
</h1>
<div *ngFor="let employee of employees">
  <app-display-employee [employee]="employee" (notify)="handleNotify($event)"></app-display-employee>
</div> -->
<!-- 
  We are doing this to show the template eference example of passing the value to the parent from child
-->
  
<!-- <h1 #h1Variable>

</h1>
<div *ngFor="let employee of employees">
  <div (click)="h1Variable.innerHTML = childComponent.employee.name + ' ' + childComponent.employee.gender">
      <app-display-employee [employee]="employee" #childComponent></app-display-employee>
  </div>
</div> -->

<!-- Or you can do the above thing as follows by calling the method from the child component-->

<!-- <h1 #h1Variable>

</h1>
<div *ngFor="let employee of employees">
  <div (click)="h1Variable.innerHTML = childComponent.getEmployeeNameAndGender()">
      <app-display-employee [employee]="employee" #childComponent></app-display-employee>
  </div>
</div> -->

<!-- 
  ---------Original Code-------
-->
<div class="form-group">
  <input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="searchTerm">
</div>
<div *ngFor="let employee of employees">
  <!-- <div (click)="onClick(employee.id)"> -->
    <app-display-employee [employee]="employee" [searchTerm]="searchTerm" 
        (notifyDelete)="onDeleteNotification($event)">

    </app-display-employee>
  <!-- </div> -->
</div> 
<div *ngIf="error">
  {{error}}
</div>

  
