<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <nav class="navbar navbar-default">

    <ul class="nav navbar-nav">
      <li>
          <a class="navbar-brand" routerLink='list' >List</a>
          <a class="navbar-brand" routerLink='edit/0' >Create</a>
      </li>

    </ul>
  </nav>
  <div *ngIf="showLoadingIndicator" class="spinner"></div>
  <router-outlet></router-outlet>
</div>
<!-- <div class="container">
    <app-list-employees></app-list-employees>
</div> -->
